<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Friend Finder</title>
	{{!-- BOOTSTRAP --}}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	{{!-- CSS --}}
	<link rel="stylesheet" href="/css/styles.css">
	{{!-- JQUERY --}}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	{{!-- BOOTSTRAP JS --}}
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
	{{!-- JS --}}
	<script src="/js/survey.js"></script>
</head>

<body>
	<nav class="nav justify-content-center">
		<a class="nav-link" id="homeLink" href="/">Home</a>
		<a class="nav-link" id="profileLink" href="/profile">Profile</a>
		<a class="nav-link" id="registerLink" href="/register">Register</a>
		<a class="nav-link" id="surveyLink" href="/survey">Survey</a>
	</nav>
	{{{body}}}
</body>

</html>