<section class="profile container">
	<div class="match container">

		<div id="scoreBox">
			<h4>Match Score</h4>
			<div class="matchbox">
				<span id="score">#</span>
			</div>
		</div>

		<div id="resultBox">
			<h4>Survey Results</h4>
			<div class="matchbox">
				<span>You Matched With:</span>
				<div style="margin-top: 1em;" class="matchInfo">
					<span>Username:</span><span id="matchUsername">#</span>
					<span>Match Score:</span><span id="matchScore">#</span>
				</div>
			</div>
		</div>

	</div>
</section>