<div class="container">
	<form id="registerForm">
		<h2 id="regh2">Registration</h2>
		<label for="username">Username:</label>
		<input id="username" name="username" type="text">

		<label for="password">Password:</label>
		<input id="password" name="password" type="password">
		<a name="submit" id="submit" class="btn btn-primary" href="#" role="button">Submit</a>
	</form>
</div>